.colum-title h2 {
  font-size: 25px;
  padding-top: 5px;
  padding-left: 20px;
}
.colum-paragraph p {
  padding-top: 20px;
  padding-left: 20px;
}
.team-box {
  width: 800px;
  height: 300px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  margin: 40px auto;
  background: #ccc;
}
.team-colum-left {
  width: 400px;
  height: 300px;
  float: left;
  padding-left: 50px;
  border-radius: 10px 10px 10px 10px;
}
.team-colum-right {
  width: 400px;
  height: 300px;
  float: left;
  padding-left: 50px;
  border-radius: 10px 10px 10px 10px;
}
.team-img-left {
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
}
.team-img-right {
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 10px 10px 10px 10px;
  padding-right: 10px;
  position: absolute;
  left: 490px;
}
.team-img-right:nth-child(1){
  background-image: url(../img/team-oda.jpg);
}
.team-img-left:nth-child(1) {
  background-image: url(../img/team-oda.jpg);
}
.team-img-right:nth-child(2) {
  background-image: url(../img/team-oda.jpg);
}
.campany-title {
  text-align: center;
  font-size: 25px;
  padding-top: 5px;
  margin: 0 auto;
}
.campany-paragraph {
  text-align: center;
  padding-top: 5px;
  margin: 0 auto;
}
.colum-list-box {

}
.colum-list {
  margin-left: 20px;
}
.colum-list dl {
  width: 300px;
}
.colum-list dt {
  float: left;
  clear: left;
  width: 60px;
  margin-top: 15px;
}
.colum-list dd {
  float: left;
  width: 300px;
  margin-top: 15px;
}
#campany_overview_box {
  padding-left: 250px;
  margin: 0 auto;
}
#campany_overview dl {
  width:500px;
}
#campany_overview dt {
  float: left;
  clear: left;
  width: 200px;
  margin-top: 15px;
}
#campany_overview dd {
  float: left;
  width: 300px;
  margin-top: 15px;
}
