/*  お問い合わせ  */
#subpage_main h1 {
  font-size: 50px;
}
input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form#contact_form {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px 10px;
}
#contact_form table {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
#contact_form tr {
  height: 80px;
  background: #eee;
}
#contact_form td {
  padding-top: 10px;
  border-bottom: 2px solid #ccc;
}

.input-title {
  width: 340px;
  font-size: 18px;
}
.input-area {
  background: #fff;
  display: block;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  border-radius: 10px 10px;
  border:0;
}

  #textarea_form .input-area{
    height: 120px;
  }
  #textarea_form td{
    margin: 0;
    border-bottom: 2px solid #ccc;
  }

.input-title {
  text-align: center;
  vertical-align: middle;
  background: #eee;
  border-bottom: 2px solid #ccc;
  padding: 20px 0;
}

#submit {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 350px;
  background: #e4e4e4;
  border-radius: 5px;
  box-shadow: 3px 3px #999;
  font-size: 20px;
}
  #submit:hover {
    background: #ccc;
  }

@media all and (max-width: 720px) {
  #subpage_main h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  #contact_form tr {
    height: auto;
  }
  #contact_form td {
    padding: 8px;
    border-bottom: none;
  }
}
