table {
  margin: 0 auto;
}

td {
  width: 250px;
  border: 1px solid #aaa;
}

input {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.input-title {
  background: #ccc;
  text-align: center;
  vertical-align: middle;
  padding: 20px 0;
}

#submit {
  text-align: center;
  padding-top: 20px;
}

form {
  margin: 0 auto;
}
