input, button, textarea, select {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form#contact_form {
  margin: 0 auto;
}
#contact_form table {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
#contact_form tr {
  height: 80px;
  background: #eee;
}
#contact_form td {
  padding-top: 10px;
  border-bottom: 2px solid #ccc;
}

.input-title {
  width: 240px;
  font-size: 18px;
}
.input-area {
  background: #fff;
  display: block;
  width: 80%;
  height: 30px;
  margin: 0 auto;
  border-radius: 10px 10px;
  border:0;
}

.input-area:focus {
  border:solid 1px #8cf;
  border-radius: 10px 10px;
  font-size: 16px;
}


  #textarea_form .input-area{
    height: 120px;
  }
  #textarea_form td{
    margin: 0;
    border-bottom: 2px solid #ccc;
  }

.input-title {
  text-align: center;
  vertical-align: middle;
  background: #eee;
  border-left: 3px solid #8cf;
  border-bottom: 2px solid #ccc;
  padding: 20px 0;
}

#submit {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 45%;
  background: #8cf;
  border-radius: 5px;
}
  #submit:hover {
    background: #6ad;
  }
  #submit:active {
    background: #48b;
  }
