/*  お知らせページ  */
#subpage_main h1 {
  font-size: 50px;
}

#page_contents {
  background: #eee;
  padding: 30px;
  border-radius: 5px;
}
  #page_contents .news {
    height: 40px;
    padding-top: 20px;
    text-align: center;
    border-bottom: solid 2px #ccc;
  }
    .news-date {
      float: left;
      padding: 10px 20px 0 30px;
    }
    .news-text {
      float: left;
      padding: 10px 0 0 50px;
    }

/* お知らせ 詳細ページ  */
.news-title {
  text-align: center;
  font-size: 24px;
}
.news-body {
  padding: 20px 30px;
}

@media all and (max-width: 720px) {
  #subpage_main h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  #page_contents {
    width: 80%;
    margin: 0 auto;
  }
  .news {
    padding-bottom: 20px;
  }
  .news-date, .news-text {
    float: none;
    padding: 0;
  }
}
