html, body {
  width: 100%;
}

#wrapper {
  background-image: url("../img/site_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}


/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: #fff;
  width: 100%;
  height: 60px;
}
  #logo {
    float: left;
    width: 15%;
    height: 100%;
  }
    #logo img {
      width: 100%;
      height: 100%;
    }
  nav {
    width: 85%;
    height: 100%;
    float: left;
    background: #fff;

  }
    nav ul {

      margin: 0;
    }
      nav ul li {
        display: inline;
        display: table-cell;
        width: 150px;
        height: 60px;
        margin: 0 auto;
        padding: 0px 30px;
        background: #fff;
        text-align: center;
    	  vertical-align: middle;
      }
        nav ul li a {
          display: block;
          text-decoration: none;
        }
        nav ul li a:visited{
          color: #000;
        }
      nav ul li:hover {
        height: 100%;
        background: #000;
      }
      nav ul li:hover a:visited {
        height: 100%;
        color: #fff;
        background: #000;
      }

#container {
  margin: 0 auto;
  width: 1080px;
  padding-top: 70px;
}
  #description {
    height: 350px;
    width: 100%;
  }
  #purposes {
    height: 350px;
    width: 100%;
  }
    .purpose {
      float: left;
      width: 300px;
      height: 200px;
      background: #fff;
      text-align: center;
      margin: 50px 30px;
      padding: 10px 0;
      border-radius: 60px 60px;
    }
    .purpose:hover {
      background: #000;
      color: #fff;
    }
      .purpose-body {
        width: 80%;
        padding-top: 10px;
        margin: 0 auto;
      }
  #contents {
  }
    .content {
      height: 800px;
      text-align: center;
      margin: 100px 0;
      border: solid 1px #fff;
      background: #fff;
    }

footer {
  background: #000;
  color: #fff;
}
  #footer-contents {
    width: 1080px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
  }
    .footer-box {
      float: left;
      width: 33%;
      height: 150px;
      margin: 10px 0;
    }
      .footer-box.sns {
        border-left: 1px #fff solid;
        border-right: 1px #fff solid;
      }
  #copyright {
    clear: both;
    text-align: center;
    border-top: solid 1px #fff;
    background: #000;
  }
