html, body {
  width: 100%;
}

#wrapper {
  background-image: url("../img/site_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: #fff;
  width: 100%;
  height: 60px;
  z-index: 1000;
}
  #logo {
    float: left;
    width: 15%;
    height: 100%;
    padding-right: 50px;
  }
    #logo img {
      width: 100%;
      height: 100%;
    }
  nav {
    width: 100%;
    height: 100%;
    background: #fff;
  }
    nav ul {
    }
      nav ul li {
        display: inline;
        display: table-cell;
        width: 170px;
        height: 60px;
        margin: 0 auto;
        padding: 0px 30px;
        background: #fff;
        text-align: center;
    	  vertical-align: middle;
      }
        nav ul li a {
          display: block;
          text-decoration: none;
        }
        nav ul li a:visited{
          color: #000;
        }
        nav ul li a:link{
          color: #000;
        }
        nav ul li:hover {
          height: 100%;
          background: #333;
        }
        nav ul li:hover a:visited {
          height: 100%;
          color: #fff;
          background: #333;
        }
        nav ul li:hover a:link {
          height: 100%;
          color: #fff;
          background: #333;
        }

#container {
  margin: 0 auto;
  width: 1080px;
  padding-top: 120px;
}
  #description {
    height: 350px;
    width: 100%;
  }
  #purposes {
    height: 350px;
    width: 100%;
  }
    .purpose {
      float: left;
      width: 300px;
      height: 250px;
      background: #fff;
      text-align: center;
      box-shadow: 0px 10px #aaa;
      margin: 50px 30px;
      border-radius: 60px 60px;
    }
    .purpose a {
      display: block;
      text-decoration: none;
    }
    .purpose a:link {
      color: #000;
    }
    .purpose a:visited {
      color: #000;
    }
    .purpose:hover {
      box-shadow: 0px 3px #aaa;
      margin-top: 60px;
    }
    .purpose:hover a:link {
      color: #000;
    }
      .purpose-body {
        width: 80%;
        height: 100%;
        padding-top: 10px;
        margin: 0 auto;
      }
        .purpose-body p {
          font-size: 24px;
        }
  #contents {
  }
    .content {
      height: 800px;
      text-align: center;
      background: #fff;
      margin-bottom: 150px;
      border: solid 1px #fff;
      border-radius: 20px 20px;
      box-shadow: 14px 24px #ddd;
      padding: 20px;
    }
      .content .content-title {
        font-size: 42px;
        font-weight: bold;
        padding-top: 40px;
      }
      .content .content-body {
        width: 100%;
        background: red;
      }

footer {
  background: #000;
  color: #fff;
}
  #footer-contents {
    width: 1080px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
  }
    .footer-box {
      float: left;
      width: 33%;
      height: 150px;
      margin: 10px 0;
    }
      .footer-box.sns {
        border-left: 1px #fff solid;
        border-right: 1px #fff solid;
      }
  #copyright {
    clear: both;
    text-align: center;
    border-top: solid 1px #fff;
    background: #000;
  }


/*  お知らせページ  */
#subpage_main {
  padding: 20px 0 100px 0;
}
  #subpage_main h1 {
    font-size: 50px;
  }
#page_contents {
  background: #ddd;
  padding: 30px;
  border-radius: 5px;
}
  #page_contents .news {
    height: 40px;
    padding-top: 20px;
    text-align: center;
    border-bottom: solid 2px #ccc;
  }
    .news-date {
      float: left;
      padding: 10px 20px 0 30px;
    }
    .news-text {
      float: left;
      padding: 10px 0 0 50px;
    }

/* お知らせ 詳細ページ  */
.news-title {
  font-size: 24px;
}
.news-body {
  padding: 20px 30px;
}
