html, body {
  width: 100%;
}

#wrapper {
}


/* header */
header {
  position: fixed;
  color: #fff;
  width: 100%;
}
  #logo {
    float: left; 
    width: 20%;
    background: #000;
    padding: 20px 0;
  }
  nav {
    width: 80%;
    float: left; 
    padding: 20px 0;
        background: #000;
  }
    ul {
   
    }
      ul li {
        display: inline;
        width: 150px;
        margin: 0 auto;
        padding: 20px 30px;
        background: #000;
      }
      li:hover {
        color: #000;
        background: #fff; 
        padding: 20px 30px;
      }

#container {
  margin: 0 auto;
  width: 1080px;
}
  #description {
    height: 350px;  
    width: 100%;
    background: #fc8
  }
  #purposes {
    height: 350px;  
    width: 100%;
    background: #cf8
  }
    .purpose {
      float: left;
      width: 300px;
      height: 200px;
      background: #8cf;
      margin: 50px 30px;
    }
  #contents {
  }
    .content {
      height: 400px;
      text-align: center;
      border: solid 1px #ccc;
    }

footer {
  background: #000;
  color: #fff;
}
  #footer-contents {
    width: 1080px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
  }
    .footer-box {
      float: left;
      width: 33.33%;
      height: 150px;
    }
  #copyright {
    clear: both;
    text-align: center;
    border-top: solid 1px #ccc;
    background: #000;
  }
