.phone-style {
  display: none;
}

html, body {
  width: 100%;
  font-family: mintyo;
}

#wrapper {
  background-image: url("../img/site_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/*******************
      header 
*******************/
header {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  background: #fff;
  width: 100%;
  height: 60px;
  z-index: 1000;
}
  #logo {
    float: left;
    width: 15%;
    height: 100%;
    padding-right: 50px;
  }
    #logo img {
      width: 100%;
      height: 100%;
    }
  nav {
    width: 100%;
    height: 100%;
    background: #fff;
  }
    nav ul {
    }
      nav ul li {
        display: inline;
        display: table-cell;
        width: 170px;
        height: 60px;
        margin: 0 auto;
        padding: 0px 30px;
        background: #fff;
        text-align: center;
    	  vertical-align: middle;
      }
        nav ul li a {
          display: block;
          text-decoration: none;
        }
        nav ul li a:visited {
          color: #000;
        }
        nav ul li a:link {
          color: #000;
        }
        nav ul li:hover {
          height: 100%;
          background: #333;
        }
        nav ul li:hover a:visited {
          height: 100%;
          color: #fff;
          background: #333;
        }
        nav ul li:hover a:link {
          height: 100%;
          color: #fff;
          background: #333;
        }


/*******************
      footer
*******************/
footer {
  background: #000;
  color: #fff;
}
  #footer-contents {
    width: 1080px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
  }
    .footer-box {
      float: left;
      width: 33%;
      height: 150px;
      margin: 10px 0;
    }
      .footer-box.sns {
        border-left: 1px #fff solid;
        border-right: 1px #fff solid;
      }
  #copyright {
    clear: both;
    text-align: center;
    border-top: solid 1px #fff;
    background: #000;
  }


@media all and (max-width: 720px) {
  .pc-style {
    display: none;
  }
  .phone-style {
    display: block;
  }

  /*******************
   smart phone header 
  *******************/
  div#menu {
    width: 100px;
    padding: 15px;
    color: #000;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
  }
  nav#phone_global_header ul li {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }

  nav#phone_global_header ul li:hover {
          height: auto;
          background: #333;
        }
        nav#phone_global_header ul li:hover a:visited {
          height: auto;
          color: #fff;
          background: #333;
        }
        nav#phone_global_header ul li:hover a:link {
          height: auto;
          color: #fff;
          background: #333;
        }

  /*******************
   smart phone footer
  *******************/
  #footer-contents {
    font-size: 14px;
    width: 100%;
    height: 50px;
  }
    .footer-box {
      height: 100%;
    }
      .footer-box.sns {
        border-left: 1px #fff solid;
        border-right: 1px #fff solid;
      }
  #copyright {
    font-size: 12px;
  }
}
