/* smart display none */

/*  トップページ  */
#container {
  margin: 0 auto;
  width: 1080px;
  padding-top: 120px;
}
  #description {
    height: 350px;
    width: 100%;
  }
  #purposes {
    height: 350px;
    width: 100%;
  }
    .purpose {
      float: left;
      width: 300px;
      height: 250px;
      background: #fff;
      text-align: center;
      box-shadow: 0px 10px #aaa;
      margin: 50px 30px;
      border-radius: 60px 60px;
    }
    .purpose i {
      margin-top: 20px;
    }
    .purpose a {
      display: block;
      text-decoration: none;
    }
    .purpose a:link {
      color: #000;
    }
    .purpose a:visited {
      color: #000;
    }
    .purpose:hover {
      box-shadow: 0px 3px #aaa;
      margin-top: 60px;
    }
    .purpose:hover a:link {
      color: #000;
    }
      .purpose-body {
        width: 80%;
        height: 100%;
        padding-top: 10px;
        margin: 0 auto;
      }
        .purpose-body p {
          font-size: 24px;
        }
  #contents {
  }
    .content {
      width: 100%;
      text-align: center;
      background: #fff;
      margin-bottom: 150px;
      border-radius: 20px 20px;
      box-shadow: 14px 24px #ddd;
      padding: 20px;
    }
      .content .content-title {
        font-size: 42px;
        font-weight: bold;
        padding: 40px 0;
      }
      .content .content-body {
        width: 80%;
        font-size: 22px;
        line-height: 2.0em;
        text-align: left;
        margin: 0 auto;
      }
        .content-body-odd {
          height: 300px;
          width: 100%;
          margin: 50px 0;
        }
          .content-body-odd .content-left {
            float: left;
            width: 48%;
            height: 100%;
          }
            .content-body-odd .content-left > img {
              width: 100%;
              height: auto;
            }
          .content-body-odd .content-right  {
            float: right;
            width: 48%;
            height: 100%;
          }
        .content-body-even {
          height: 300px;
          width: 100%;
          margin: 50px 0;
        }
          .content-body-even .content-left  {
              float: left;
              width: 48%;
              height: 100%;
          }
          .content-body-even .content-right {
            float: right;
            width: 48%;
            height: 100%;
          }
            .content-body-even .content-right > img {
              width: 100%;
              height: auto;
            }
/******************
    contents text decoration
*******************/

span.text-highlight {
  background:linear-gradient(transparent, 80%, #8cf 100%);
}


@media all and (max-width: 720px) {
/* smart display none */
.purpose-text-smart {
  display: block;
}
.pc-style {
  display: none;
}
  #container {
    width: 100%;
  }
  #purposes {
    width: 90%;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
    .purpose {
      float: left;
      height: 100px;
      width: 30%;
      background: #fff;
      text-align: center;
      box-shadow: 0px 10px #aaa;
      margin: 50px 1.6%;
      border-radius: 25px 25px;
    }
      .purpose-body p {
        font-size: 1.0em;
        margin: 5px 0;
      }
      .purpose-body i {
        margin-top: 0;
        font-size: 2.0em;
      }
      .purpose-body a {
        display: block;
      }

  #contents {
    clear: both;
  }
    .content {
      width: 80%;
      box-shadow: none;
      margin: 0 auto;
      margin-bottom: 50px;
      padding: none;
    }
      .content .content-title {
        font-size: 20px;
        padding: 30px 0 40px 0;
      }
      .content .content-body {
        width: 90%;
        font-size: 16px;
        margin: 0 auto;
      }
      .content-body-odd {
          height: auto;
          width: 100%;
          margin: 0 0;
        }
          .content-body-odd .content-left {
            float: none;
            width: 100%;
            height: auto;
          }
            .content-body-odd .content-left > img {
              width: 100%;
              height: auto;
              margin: 10px 0;
            }
          .content-body-odd .content-right  {
            float: none;
            width: 100%;
            height: 100%;
          }
        .content-body-even {
          height: auto;
          width: 100%;
          margin: 0 0;
        }
          .content-body-even .content-left  {
            float: none;
            width: 100%;
            height: auto;
          }
          .content-body-even .content-right {
            float: none;
            width: 100%;
            height: 100%;
          }
            .content-body-even .content-right > img {
              width: 100%;
              height: auto;
              margin: 10px 0;
            }

}
